git clone https://github.com/starlqghts/spoofie.git
cd spoofie
python -m venv venv
Set-ExecutionPolicy Unrestricted -Scope Process; .\venv\Scripts\Activate.ps1
pip install -r requirements.txt
python app.py
